*{
    padding: 0px;
    margin: 0px;
}

form{
    color: red;
    background-color: aquamarine;
    width: 500px;
    height: 100px;
    text-align: center;
    margin: auto;
}
.one{
    text-align: center;
    color: brown;
    background-color: aquamarine;
    width: 500px;
    margin: auto;
}
